/* Colors: #0c4a60, #ef6c33, #abdff1 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.4rem 3.6rem;
  background-color: #0c4a60;
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-decoration: none;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.6rem;
}

.logo {
  height: 100%;
}

/* Tasks list */
.greeting {
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 2.4rem;
  text-align: center;
  padding-top: 2rem;
  color: #0c4a60;
}

.tasks-list {
  margin: auto;
  margin-top: 4rem;
  width: 80rem;
  min-height: 50rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 9px;
}

.btn-add-box {
  width: 92%;
  margin: auto;
  margin-bottom: 1.6rem;
}

.btn-add {
  display: flex;
  margin-left: auto;
  padding: 0.8rem 1.6rem;
  font-weight: 600;
  color: #eee;
  background-color: #0c4a60;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 9px;
}

.task {
  display: flex;
  align-items: center;
  margin: auto;
  width: 95%;
  padding: 2rem;
  border-top: 1px solid #ccc;
}

.task-status {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border-radius: 100px;
  margin-right: 2.4rem;
}

.task-completed {
  background-color: #0f9818;
  color: #fff;
}

.task-pending {
  background-color: #b51616;
  color: #fff;
}

.task-text {
  margin-right: auto;
}

.task__title {
  display: inline-block;
  font-size: 1.4rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.task__description {
  font-size: 1.2rem;
}

.task-options {
  display: flex;
  gap: 1.2rem;
}

.task-options img {
  height: 2rem;
}

.task__btn {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  margin-top: 5rem;
  width: 50rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 2rem;
  border-radius: 9px;
}

.heading-secondary {
  text-align: center;
  color: #0c4a60;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: -1.5px;
}

.form label {
  color: #0c4a60;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.form input {
  font-size: 1.4rem;
  color: #000;
  font-family: inherit;
  outline: none;
  border: 1px solid #0c4a60;
  border-radius: 9px;
  padding: 1rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.select {
  padding: 1rem;
  border-radius: 9px;
  font-size: 1.4rem;
}

.btn-save {
  padding: 1.4rem;
  color: #eee;
  background-color: #0c4a60;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 9px;
  font-weight: 700;
}
